In [28]:
import pandas as pd

# Ruta
file_path = '/Users/rodrigo.fa/Desktop/Casos de uso/CNED/Base_INDICES-2005-2025.xlsx'

#asignamos dataframe
df = pd.read_excel(file_path)

In [29]:
df.head()

,Año,Cód. Institución,Nombre Institución,Tipo Institución,Clasificación1,Clasificación2,Clasificación3,Clasificación4,Clasificación5,Clasificación6,...,Matrícula primer año extranjeros,Matrícula Primer Año,Matrícula total hombres,Matrícula total mujeres,Matrícula total extranjeros,Matrícula Total,Códgo SIES,Pregrado/Posgrado,Matrícula Primer Año No Binario,Matrícula Total No Binario
0,2025,1001,U. DE CHILE,Univ.,(a) Universidades CRUCH,(a) Universidades Estatales CRUCH,(a) Acreditada,(a) Autónoma,(a) Adscritas a Gratuidad,(a) Subsistema Universitario,...,0,167,319,401,1,720,I70S1C1J1V2,Pregrado,0,0
1,2025,1001,U. DE CHILE,Univ.,(a) Universidades CRUCH,(a) Universidades Estatales CRUCH,(a) Acreditada,(a) Autónoma,(a) Adscritas a Gratuidad,(a) Subsistema Universitario,...,5,103,236,214,26,450,I70S1C814J1V1,Pregrado,0,0
2,2025,1001,U. DE CHILE,Univ.,(a) Universidades CRUCH,(a) Universidades Estatales CRUCH,(a) Acreditada,(a) Autónoma,(a) Adscritas a Gratuidad,(a) Subsistema Universitario,...,17,661,1765,1273,51,3038,I70S1C58J1V1,Pregrado,0,0
3,2025,1001,U. DE CHILE,Univ.,(a) Universidades CRUCH,(a) Universidades Estatales CRUCH,(a) Acreditada,(a) Autónoma,(a) Adscritas a Gratuidad,(a) Subsistema Universitario,...,0,0,1,0,0,1,I70S1C46J1V1,Pregrado,0,0
4,2025,1001,U. DE CHILE,Univ.,(a) Universidades CRUCH,(a) Universidades Estatales CRUCH,(a) Acreditada,(a) Autónoma,(a) Adscritas a Gratuidad,(a) Subsistema Universitario,...,6,218,493,414,30,907,I70S1C816J1V1,Pregrado,0,0

In [30]:
df.columns

Index(['Año', 'Cód. Institución', 'Nombre Institución', 'Tipo Institución',
       'Clasificación1', 'Clasificación2', 'Clasificación3', 'Clasificación4',
       'Clasificación5', 'Clasificación6', 'Nombre de la Sede',
       'Comuna donde se imparte la carrera o programa', 'Nombre Region',
       'Orden Geográfico de la Región (Norte aSur)', 'Cód. Carrera',
       'Carrera Genérica', 'Nombre Programa', 'Mención o Especialidad',
       'Horario', 'Tipo Programa', 'Area Conocimiento', 'idgenerocarrera',
       'Tipo Carrera', 'IngresoDirecto', 'Año Inicio Actividades',
       'Nombre del Campus', 'Duración (en semestres)', 'Cód. Campus',
       'Cód. Sede', 'Título', 'Grado Académico',
       'Máximo Puntaje (promedio matemáticas y lenguaje)',
       'Promedio Puntaje (promedio matemáticas y lenguaje)',
       'Mínimo Puntaje (promedio matemáticas y lenguaje)',
       'Puntaje de corte (primer seleccionado)',
       'Puntaje de corte (promedio de la carrera)',
       'Puntaje de corte (último seleccionado)', 'Máximo Puntaje NEM',
       'Promedio Puntaje NEM', 'Mínimo Puntaje NEM', 'Máximo Puntaje Ranking',
       'Promedio Puntaje Ranking', 'Mínimo Puntaje Ranking',
       'Nº Alumnos Ingreso Via PSU o PDT', 'Nº Alumnos Ingreso Otra Via',
       'Valor de matrícula', 'Valor de arancel', 'Valor del Título',
       'Tipo Moneda', 'Vacantes', 'Matrícula primer año hombres',
       'Matrícula primer año mujeres', 'Matrícula primer año extranjeros',
       'Matrícula Primer Año', 'Matrícula total hombres',
       'Matrícula total mujeres', 'Matrícula total extranjeros',
       'Matrícula Total', 'Códgo SIES', 'Pregrado/Posgrado',
       'Matrícula Primer Año No Binario', 'Matrícula Total No Binario'],
      dtype='object')

In [31]:
df[df['Año']==2025]['Clasificación2'].value_counts()

Clasificación2
(e) Institutos Profesionales                  4696
(f) Centros de Formación Técnica              1693
(c) Univ. Privadas Adscritas SUA              1638
(a) Universidades Estatales CRUCH             1137
(b) Universidades Privadas CRUCH               916
(g) Centros de Formación Técnica Estatales     381
(d) Universidades Privadas                     346
(h) F.F.A.A.                                    19
Name: count, dtype: int64

In [32]:
df['Pregrado/Posgrado'].value_counts()

Pregrado/Posgrado
Pregrado    205131
Name: count, dtype: int64

In [33]:


# Seleccionar columnas
columnas_seleccionadas = ['Nombre Region',
                          'Clasificación2', 
                          'Matrícula Primer Año',
                            'Valor de arancel', 
                            'Area Conocimiento']

df_filtrado = df[df['Año']==2024][columnas_seleccionadas]


# Mostrar las primeras filas del dataframe filtrado
display(df_filtrado.head())

,Nombre Region,Clasificación2,Matrícula Primer Año,Valor de arancel,Area Conocimiento
10826,Región Metropolitana,(a) Universidades Estatales CRUCH,153,5121300.0,Administración y Comercio
10827,Región Metropolitana,(a) Universidades Estatales CRUCH,104,6414100.0,Administración y Comercio
10828,Región Metropolitana,(a) Universidades Estatales CRUCH,629,7152100.0,Administración y Comercio
10829,Región Metropolitana,(a) Universidades Estatales CRUCH,198,6414100.0,Administración y Comercio
10830,Región Metropolitana,(a) Universidades Estatales CRUCH,158,5937300.0,"Agricultura, Silvicultura, Pesca y Veterinaria"

In [34]:
df_filtrado=df_filtrado.dropna()
len(df_filtrado)

7809

In [35]:
import pandas as pd
df_final = pd.get_dummies(df_filtrado, 
                          columns=['Nombre Region',
                                   'Clasificación2',
                                   'Area Conocimiento'],
                                   drop_first=False,
                                   dtype=int)

display(df_final.head())

,Matrícula Primer Año,Valor de arancel,Nombre Region_Región Metropolitana,Nombre Region_Región de Antofagasta,Nombre Region_Región de Arica y Parinacota,Nombre Region_Región de Atacama,Nombre Region_Región de Aysén,Nombre Region_Región de Coquimbo,Nombre Region_Región de La Araucanía,Nombre Region_Región de Los Lagos,...,"Area Conocimiento_Agricultura, Silvicultura, Pesca y Veterinaria",Area Conocimiento_Arte y Arquitectura,Area Conocimiento_Ciencias,Area Conocimiento_Ciencias Sociales,Area Conocimiento_Derecho,Area Conocimiento_Educación,"Area Conocimiento_FFAA, Orden y Seguridad",Area Conocimiento_Humanidades,Area Conocimiento_Salud,Area Conocimiento_Tecnología
10826,153,5121300.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10827,104,6414100.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10828,629,7152100.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10829,198,6414100.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10830,158,5937300.0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [36]:
len(df_final)

7809

In [37]:
df_final.to_csv('demanda_esup.csv', index=False)

In [38]:
df_final.columns

Index(['Matrícula Primer Año', 'Valor de arancel',
       'Nombre Region_Región Metropolitana',
       'Nombre Region_Región de Antofagasta',
       'Nombre Region_Región de Arica y Parinacota',
       'Nombre Region_Región de Atacama', 'Nombre Region_Región de Aysén',
       'Nombre Region_Región de Coquimbo',
       'Nombre Region_Región de La Araucanía',
       'Nombre Region_Región de Los Lagos',
       'Nombre Region_Región de Magallanes',
       'Nombre Region_Región de Tarapacá',
       'Nombre Region_Región de Valparaíso',
       'Nombre Region_Región de los Ríos', 'Nombre Region_Región de Ñuble',
       'Nombre Region_Región del Bío-Bío',
       'Nombre Region_Región del Gral. B. O`Higgins',
       'Nombre Region_Región del Maule',
       'Clasificación2_(a) Universidades Estatales CRUCH',
       'Clasificación2_(b) Universidades Privadas CRUCH',
       'Clasificación2_(c) Univ. Privadas Adscritas SUA',
       'Clasificación2_(d) Universidades Privadas',
       'Clasificación2_(e) Institutos Profesionales',
       'Clasificación2_(f) Centros de Formación Técnica',
       'Clasificación2_(g) Centros de Formación Técnica Estatales',
       'Clasificación2_(h) F.F.A.A.',
       'Area Conocimiento_Administración y Comercio',
       'Area Conocimiento_Agricultura, Silvicultura, Pesca y Veterinaria',
       'Area Conocimiento_Arte y Arquitectura', 'Area Conocimiento_Ciencias',
       'Area Conocimiento_Ciencias Sociales', 'Area Conocimiento_Derecho',
       'Area Conocimiento_Educación',
       'Area Conocimiento_FFAA, Orden y Seguridad',
       'Area Conocimiento_Humanidades', 'Area Conocimiento_Salud',
       'Area Conocimiento_Tecnología'],
      dtype='object')